openapi: 3.0.3
info:
  title: Cursor Admin Audit Logs Groups API
  description: The Cursor Admin API allows team and enterprise administrators to programmatically manage members, billing groups, audit logs, daily usage data, spending, repository indexing blocklists, and per-user spend limits for their Cursor team. Authentication uses HTTP Basic Authentication with the API key as the username and an empty password.
  version: 1.0.0
  contact:
    name: Cursor Support
    url: https://cursor.com/support
servers:
- url: https://api.cursor.com
  description: Cursor Admin API production endpoint
security:
- BasicAuth: []
tags:
- name: Groups
  description: Billing groups for cost allocation
paths:
  /teams/groups:
    get:
      tags:
      - Groups
      summary: List billing groups
      operationId: listGroups
      responses:
        '200':
          description: List of billing groups
    post:
      tags:
      - Groups
      summary: Create billing group
      operationId: createGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Group created
  /teams/groups/{groupId}:
    parameters:
    - in: path
      name: groupId
      required: true
      schema:
        type: string
    get:
      tags:
      - Groups
      summary: Get billing group
      operationId: getGroup
      responses:
        '200':
          description: Group detail
    patch:
      tags:
      - Groups
      summary: Update billing group
      operationId: updateGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Group updated
    delete:
      tags:
      - Groups
      summary: Delete billing group
      operationId: deleteGroup
      responses:
        '204':
          description: Group deleted
  /teams/groups/{groupId}/members:
    parameters:
    - in: path
      name: groupId
      required: true
      schema:
        type: string
    post:
      tags:
      - Groups
      summary: Add members to group
      operationId: addGroupMembers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userIds:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Members added
    delete:
      tags:
      - Groups
      summary: Remove members from group
      operationId: removeGroupMembers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userIds:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Members removed
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Basic Authentication with API key as the username and empty password.
